html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #252422;
    color: #FFF;
}

.title {
    display: flex;
    align-self: center;
}

.nav-left {
    padding-left: 1rem;
    display: flex;
}

.nav-right {
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
}

svg.schema {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    /*height: 90vh;*/

}

svg .table {
    margin: 10px;
}

.btn-default {
    /*background-color: #EB5E28; #A5BE00 #26408B; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05668D;
    width: 5.8rem;
    height: 2.8rem;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 1rem;
}

.btn-default:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;
}

.schema-editor {
    display: flex;
    flex-direction: column;
    flex: 12%;
    justify-content: flex-start;
    align-items: center;
    background-color: #443f38;
    padding: 0 1rem;
    box-sizing: border-box;
}

textarea.schema-editor {
    display: flex;
    width: 100%;
    background-color: #443f38;
    color: #FFF;
    border: none;
    margin: 0;
}

textarea.schema-editor::-webkit-scrollbar {
    width: 8px;
}

textarea.schema-editor::-webkit-scrollbar-thumb {
    background-color: #313131;
}

.schema-editor:focus {
    border: none;
    outline: none;
}

.schema {
    display: flex;
    flex: 75%;
    background-color: #FFFCF2;
}

.themes {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 18rem;
    height: 100%;
    background-color: #443f38;
    color: #FFF;
    /*visibility: visible;*/
}

.themes-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

.themes-actions-btn {
    width: 4rem;
    height: 2rem;
    margin: 0 5px;
    background-color: #426903;
}

.window-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #FFF;
    visibility: hidden;
}

.model-window {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
}


.themes-list {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.theme {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.theme.active {
    background-color: #313131;
}

.theme span {
    display: flex;
    justify-content: center;
    width: 60px;
}

.theme:hover {
    cursor: pointer;
    background-color: #6b6969;
}

.theme-view {
    display: flex;
    align-items: center;
}

.theme .theme-colors,
.theme span {
    pointer-events: none;
}

.theme-colors {
    display: flex;
    flex-direction: row;
    padding: 4px 0;
    margin-left: 4px;
}

.theme-color {
    width: 1.8rem;
    height: 1.8rem;
    background-color: darkgreen;
    margin: 0 2px;
}

.theme-edit-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.theme-delete-icon {
    width: 18px;
    height: 18px;
    margin: 0 5px;
}

.upload-file-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    background-color: #313030;
    font-size: 2rem;
}

g.move,
.dbschematitle,
g:hover {
    cursor: move;
}

.inner-modal-window {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    width: 50%;
    min-width: 54rem;
    height: 100%;
    background-color: #313030;
    color: #FFF;
    padding: 1rem 0;
}

.save-theme-btn {
    width: 5rem;
    height: 2.4rem;
    align-self: flex-end;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.create-theme-form {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    max-width: 600px;
    font-size: 1rem;
    font-family: sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 5px 20px;
}

.theme-name-row {
    color: #1f93c0;
    font-weight: 500;
    ;
}

.create-theme-form label {
    max-width: 8rem;
}

.create-theme-form input {
    width: 3.2rem;
    height: 1.2rem;
    border: none;
}

.create-theme-form input:hover {
    border: none;
    outline: none;
}

.create-theme-form input:focus {
    border: none;
    outline: none;
}

.create-theme-form input:active {
    border: none;
    outline: none;
}

.create-theme-form input[type=color] {
    -webkit-appearance: none;
}

.create-theme-form input[type=color]::-webkit-color-swatch {
    border: none;
}

.create-theme-form input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.create-theme-form input[type=text] {
    background-color: #313030;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    font-size: 1.1rem;
}

.theme-view {
    display: flex;
    height: 100%;
}

.btn-export {
    background-color: #126608;
    background-color: #126608;
    width: 12rem;
    margin: 1rem;
}

.table-data {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #252422;
    color: #FFF;
    max-width: 18rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    border: 1px solid #54810a;
    padding: 1rem 0.5rem;
}

.table-data input {
    border: none;
    background-color: #252422;
    color: #FFF;
    border-bottom: 1px solid #54810a;
    font-size: 1rem;
    max-width: 8rem;
    margin: 0 4px;
}

.table-data-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
}

.table-data-title {
    background-color: #54810a;
    font-size: 1.2rem;
}

.table-data input:hover {
    border-bottom: 1px solid #54810a;
    outline: none;
}

.table-data input:focus {
    border-bottom: 1px solid #54810a;
    outline: none;
}

.table-data input:active {
    border-bottom: 1px solid #54810a;
    outline: none;
}

.add-row-table-data-icon, .delete-table-data-icon {
    display: flex;
    align-self: center;
    margin: 0 .2rem;
}

.add-row-table-data-icon {
    width: 1.6rem;
    height: 1.6rem;
}

.delete-table-data-icon {
    width: 1.3rem;
    height: 1.3rem;
}

.table-data-ctrl-btns {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: -0.4rem 0rem 0.4rem 0rem;
}

.table-data-ctrl-btn {
    width: 5rem;
    height: 1.4rem;
    margin: 0.4rem 1rem;
    border: 1px solid #54810a;
}

.table-data-add-row-btn {
    background-color: #1c1412;
}

.table-data-delete-table-btn {
    background-color: #89062a;
    width: 7rem;
}