html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #252422;
    color: #FFF;
}

.title {
    display: flex;
    align-self: center;
}

.nav-left {
    padding-left: 1rem;
    display: flex;
}

.nav-right {
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
}

svg.schema {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    /*height: 90vh;*/

}

svg .table {
    margin: 10px;
}

.btn-default {
    /*background-color: #EB5E28; #A5BE00 #26408B; */
    background-color: #05668D;
    width: 5.8rem;
    height: 2.8rem;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 1rem;
}

.btn-default:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;
}

.schema-editor {
    display: flex;
    flex: 25%;
}

textarea.schema-editor {
    display: flex;
    width: 100%;
    background-color: #443f38;
    color: #FFF;
    border: none;
    margin: 0;
}

textarea.schema-editor::-webkit-scrollbar{
    width: 8px;
}

textarea.schema-editor::-webkit-scrollbar-thumb {
    background-color: #313131;
}

.schema-editor:focus {
    border: none;
    outline: none;
}

.schema {
    display: flex;
    flex: 75%;
    background-color: #FFFCF2;
}

.themes {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 18rem;
    height: 100%;
    background-color: #443f38;
    color: #FFF;
    /*visibility: visible;*/
}

.themes-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

.themes-actions-btn {
    width: 4rem;
    height: 2rem;
    margin: 0 5px;
    background-color: #426903;
}

.window-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #FFF;
    visibility: hidden;
}

.model-window {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
}


.themes-list {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.theme {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.theme.active {
    background-color: #313131;
}

.theme span {
    display: flex;
    justify-content: center;
    width: 60px;
}

.theme:hover {
    cursor: pointer;
    background-color: #6b6969;
}

.theme-view {
    display: flex;
    align-items: center;
}

.theme .theme-colors, .theme span {
    pointer-events: none;
}

.theme-colors {
    display: flex;
    flex-direction: row;
    padding: 4px 0;
    margin-left: 4px;
}

.theme-color {
    width: 1.8rem;
    height: 1.8rem;
    background-color: darkgreen;
    margin: 0 2px;
}

.theme-edit-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.theme-delete-icon {
    width: 18px;
    height: 18px;
    margin: 0 5px;
}

.upload-file-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    background-color: #313030;
    font-size: 2rem;
}

g.move, .dbschematitle, g:hover {
    cursor: move;
}

.inner-modal-window {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 80%;
    background-color: #313030;
    color: #FFF;
}

.row {
    margin: 5px 2rem;
}

.save-theme-btn {
    width: 5rem;
    height: 2.4rem;
    align-self: flex-end;
}

.create-theme-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.theme-view {
    display: flex;
    height: 100%;
}
